example-shoppe-ios/example-shoppe-ios.xcodeproj/project.xcworkspace/contents.xcworkspacedata
example-shoppe-ios/example-shoppe-ios.xcodeproj/project.xcworkspace/xcuserdata/harold.xcuserdatad/UserInterfaceState.xcuserstate
