<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>baseURL</key>
	<string>http://reactshoppe.s3-website-us-east-1.amazonaws.com/data/products.json</string>
	<key>baseImageURL</key>
	<string>https://fruitshoppe.firebaseapp.com/images/</string>
</dict>
</plist>
